.sidebar {
  margin: 3rem 0 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.main-home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-grow: 1;
}
.home-container {
  width: 100%;
  background-color: #FAFCE8
}

.main-sidebar-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  width: 150px;
  height: 100%;
  background-color: #ff0000;
}

.icon {
  width: 55px;
  height: 55px;
}
.svg-icon {
  padding: 10px;
}
.email {
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: upright;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

div.home-sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.fa {
  display: flex;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-social {
  background: #ff0000;
  text-align: center;
}
.home {
  display: flex; 
  flex-direction: row;
  margin: 2.5rem 3.5rem;
}
.home-icon {
  width: 75px;
  height: 75px;
}
.hi-adobe {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


@media screen and (max-width: 550px) {
  .main-home-container {
   width: 100%;
  }
   .main-sidebar-container {
      display: none;
   }
}